
body{
    background-color: #e5dbcc;
}

header {
    width: 15vw;
    height: 100%;
    padding-left: 60px;
    background-color: #ffffff80;
    position: fixed;
}

main {
    display: block;
    padding-left: 350px;
    top: 0;
    right: 0;
}

