
body{
    background-color: #e7eeff;
    font-family: 'Krona One', sans-serif;
}

article p{
    line-height: 24px;
}

header {
    width: 200px;                        /* Icon bar takes up 15% of window */
    height: 810px;
    padding-left: 60px;
    margin-top: 35px;
    background-color: #ffffff80;
    position: fixed;
    border: solid 2px black;
}

header img{
    padding-top: 22px;
}

header div:hover{
    border-bottom: solid 2px black;      /* background of icon changes when hover over */
}

main {
    padding-left: 400px;
}

main figure{
    height: 885px;                  /* fits each image to screen height */
    overflow: hidden;               /* hides any excess if image is larger than 885px t */
    margin-bottom: 50px;
}
.description{
    margin: 0;
    padding-top: 4px;
    font-size: 10px;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

.open{
    position: relative;
}

#fishOverlay{
    background-color: rgba(111, 109, 121, 0.753);
    color: white;
    border-radius: 40px;
    height: 100px;
    width: 600px;
    padding: 60px;
    padding-top: 25px;
    margin: auto;
    position: absolute;
    top: 400px;
    right: 250px;
}

#fossilOverlay{
    background-color: rgba(111, 109, 121, 0.753);
    color: white;
    border-radius: 40px;
    height: 100px;
    width: 600px;
    padding: 40px;
    padding-top: 25px;
    margin: auto;
    position: absolute;
    top: 1300px;
    right: 250px;
}

#heartsOverlay{
    background-color: rgba(111, 109, 121, 0.753);
    color: white;
    border-radius: 40px;
    height: 100px;
    width: 600px;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 90px;
    margin: auto;
    position: absolute;
    top: 2250px;
    right: 250px;
}

#popOverlay{
    background-color: rgba(111, 109, 121, 0.753);
    color: white;
    border-radius: 40px;
    height: 100px;
    width: 600px;
    padding: 60px;
    padding-top: 25px;
    margin: auto;
    position: absolute;
    top: 3150px;
    right: 250px;
}

footer {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
}

footer a{
    padding: 30px;
    text-decoration: none;
    color: rgb(17, 0, 56);
}

footer a:hover{
    color: rgb(101, 113, 221);
}
