body {
    width: 1200px;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Asap', sans-serif;
}

header {
    margin-left: 180px;
    color: #6479B7;
    line-height: 20px;
}


#banner {
    width: 800px;
    height: 250px;
    background-color: white;
    border: 5px solid pink;
    border-radius: 10px;
    position: relative;
    
}

#circle {
    width: 70px;
    height: 70px;
    background-color: rgb(255, 110, 115);
    border: 3px solid rgb(255, 110, 115);
    border-radius: 50%;
    position: absolute;
    bottom: 18px;
    right: 60px;
    z-index: +1;
    animation: animation1 600ms ease-out infinite alternate;
}

@keyframes animation1 {
    from { bottom: 18px;}
    to { bottom: 130px;}
}

#circle:hover {
    animation: animation1 300ms ease-out infinite alternate;
}

#shadow {
    width: 70px;
    height: 8px;
    background-color: rgb(70, 92, 158);
    border: 3px solid rgb(70, 92, 158);
    border-radius: 80%;
    position: absolute;
    bottom: 12px;
    right: 60px;
}

#first-circle {
    width: 70px;
    height: 70px;
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 18px;
    left: 60px;
    z-index: +1;
    animation: animation1 600ms ease-out infinite alternate;
}


@keyframes animation1 {
    from { bottom: 18px;}
    to { bottom: 130px;}
}

#first-circle:hover {
    opacity: 0;
}

#shadow-one {
    width: 70px;
    height: 8px;
    background-color: white;
    border: 3px solid white;
    border-radius: 80%;
    position: absolute;
    bottom: 12px;
    left: 60px;
}

#middle-circle {
    width: 70px;
    height: 70px;
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 18px;
    left: 375px;
    z-index: +1;
    animation: animation1 600ms ease-out infinite alternate;
}


@keyframes animation1 {
    from { bottom: 18px;}
    to { bottom: 130px;}
}

#middle-circle:hover {
    opacity: 0;
}

#shadow-two {
    width: 70px;
    height: 8px;
    background-color: white;
    border: 3px solid white;
    border-radius: 80%;
    position: absolute;
    bottom: 12px;
    left: 375px;
}

#banner:hover {
    cursor: pointer;
    background-color: rgb(160, 184, 255);
    transition-property: background-color;
    transition-duration: 1.5s;

}

a {
    text-decoration: none;
    color: rgb(134, 154, 214);
}

a:hover {
    color: pink;
}

h2{
    line-height: .05;
}

ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 35px;
}

section {
    width: 200px;
    padding: 60px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 0;
    margin: 10px;
    border: 2px solid pink;
    border-radius: 10px;
    color: #6479B7;
}

.middle {
   padding-bottom: 20px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}


