body {
    width: 1366px;
    height: 768px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Asap', sans-serif;
}

header{
    padding-left: 30px;
}

h1{
    font-size: 70px;
    padding-bottom: 10px;
    color: rgb(75, 26, 190);
    border-bottom: 5px solid;
}



main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

h2{
    color: rgb(75, 26, 190);
} 

article {
    padding: 40px;
    padding-top: 20px;
    /* background-color: rgb(252, 220, 226); */
    border-radius: 10px;
    margin: 30px;
    /* border: 4px solid rgb(255, 130, 174); */
    border: 4px solid rgb(194, 194, 194);
    /* border: 4px solid rgb(75, 26, 190); */
    border-radius: 20px;
}

.text{
    line-height: 26px;;
}

a {
    text-decoration: none;
    color: rgb(255, 130, 174);
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

footer p{
    padding: 30px;
    padding-top: 5px;
}

