body {
    width: 1366 px;
    height: 768 px;
    font-family: 'Open Sans', sans-serif;
    color: #ff4d4d;
}

h1{
    font-weight: 900;
    font-size: 90px;
}
h2 {
    font-weight: 400;
}

main {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    position: relative;
}

img{
    padding-right: 100px;
}

form {
    width: 500px;
    height: 600px;
    padding: 30px;
    border: solid 2px #ff4d4d;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
}

input {
    border: solid 1.5px;
    border-radius: 5px;
    color: #f9a0a0;
}

footer {
    display: flex;
    flex-flow: row-wrap;
    right: 180px;
    position: absolute;
}

footer a {
    text-decoration: none;
    color: #ff4d4d;
    padding-right: 30px;
}