body {
    width: 1366px;
    background-color: rgb(0, 0, 0);
    font-family: 'Krona One', sans-serif;
    color: white;
}

header{
    position: fixed;
    right: 30px;
}

/* First page/Title page */

#top{
    height: 100vh;
}

#top section{
    text-align: center;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 70px;
}
/* ////////////////////////// */

h2{
    font-size: 35px;
    width: 450px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

/* Buttons /////////////////// */
button{
    outline: none;
    cursor: pointer;
    border: 2px solid black;
}

#top button{                        /* start button */
    margin-top: 60px;
    background-color: white;
    font-size: 30px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 8px 8px rgb(255, 177, 177);
}

#top button:hover{
    color: rgb(255, 177, 177);
    box-shadow: 12px 15px rgb(255, 177, 177);
}

#fishButton{                                        /* each individual design's about button */
    box-shadow: 8px 10px rgb(55, 90, 72);
}

#fishButton:hover {
    color: rgb(55, 90, 72);
    box-shadow: 12px 15px rgb(55, 90, 72);
    font-weight: 600;
}

#fossilButton{
    box-shadow: 8px 10px rgb(204, 124, 128);
}

#fossilButton:hover {
    color: rgb(204, 124, 128);
    box-shadow: 12px 15px rgb(204, 124, 128);
    font-weight: 600;
}

#candyButton{
    box-shadow: 8px 10px rgb(247, 196, 88);
}

#candyButton:hover {
    color: rgb(247, 196, 88);
    box-shadow: 12px 15px rgb(247, 196, 88);
    font-weight: 600;
}

#popButton{
    box-shadow: 8px 10px rgb(123, 165, 219);
}

#popButton:hover {
    color: rgb(123, 165, 219);
    box-shadow: 12px 15px rgb(123, 165, 219);
    font-weight: 600;
}


/* Main design flex boxes ////////////////////////// */

#shirts article{
    display: flex;
    flex-direction: row;
    color: black;
}

#shirts div{
    margin-top: 30px;
    margin-left: 0;
    width: 350px;
    height: 640px;
    color: black;
    position: relative;  
}

#shirts div button{
    background-color: white;
    font-size: 30px;
    padding: 10px;
    width: 300px;
    position: absolute;
    left: 24%;
}

#first:hover{
    filter: drop-shadow( 0px 5px 30px white);
    cursor: pointer;
}

#second:hover{
    filter: drop-shadow( 0px 5px 30px white);
    cursor: pointer;
}

#third:hover{
    filter: drop-shadow( 0px 5px 30px white);
    cursor: pointer;
}

#fourth:hover{
    filter: drop-shadow( 0px 5px 30px white);
    cursor: pointer;
}
/* //////////////////////////////////////////// */

.hidden {
    display: none;                  /* when marked as hidden, div is not displayed on screen */
}

.showing {
    display: block;                 /* when marked as showing, display block will put element on the screen */
}

/* Footer ///////////////////////////////*/

footer {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
}

a{
    text-decoration: none;
}

footer a{
    padding: 30px;
    color: white;
}

footer a:hover{
    color: rgb(165,251,235);
}

/* Background Color Changes /////////////////////////////// */
.fishBackground{
    background-color: rgba(36, 70, 53, 0.575);
    transition-property: background-color;
    transition-duration: .75s;                          /* colors changes for a duration of .75 seconds */
}

.fossilBackground{
    background-color: rgba(247, 195, 204, 0.699);
    transition-property: background-color;
    transition-duration: .75s;
}

.candyBackground{
    background-color: rgba(247, 197, 88, 0.521);
    transition-property: background-color;
    transition-duration: .75s;
}

.popBackground{
    background-color: rgba(126, 163, 231, 0.699);
    transition-property: background-color;
    transition-duration: .75s;
}

/* Design videos /////////////////////////////// */
video {
    outline: none;
    border-radius: 30px;
    margin-left: 24px;
}

#fishText video {
    border: 10px solid rgb(55, 90, 72);
    box-shadow: 0px 0px 60px 1px rgb(6, 14, 10);
}

#fossilText video {
    border: 10px solid rgb(204, 124, 128);
    box-shadow: 0px 0px 60px 1px rgba(99, 47, 47, 0.75);
}

#candyText video {
    border: 10px solid rgb(247, 196, 88);
    box-shadow: 0px 0px 60px 1px rgba(121, 89, 31, 0.849);
}

#popText video {
    border: 10px solid rgb(123, 165, 219);
    box-shadow: 0px 0px 60px 1px rgba(37, 46, 90, 0.75);
}

/* Informational Overlays /////////////////////////////// */
.overlays{
    color: black;
}

.overlays button{
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    background-color: white;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: none;
}

.overlays button:hover {
    background-color: rgb(255, 177, 177);
}

.overlays img{
    padding-top: 45px;
    padding-left: 40px;
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.overlays p{
    width: 40%;
    padding: 35px;
    line-height: 26px;
}

#fishInfo{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    background-color: white;
    box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.75);
    height: 600px;
    position: absolute;
    top: 1150px;
    left: 50%;
    transform: translate(-50%, -50%);   /* centers the content */
    border-radius: 10px;
}

#fossilInfo{
    display: flex;
    flex-direction: row;
    width: 1100px;
    background-color: white;
    box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.75);
    height: 600px;
    position: absolute;
    top: 1870px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#candyInfo{
    display: flex;
    flex-direction: row;
    width: 1100px;
    background-color: white;
    box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.75);
    height: 600px;
    position: absolute;
    top: 2600px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#popInfo{
    display: flex;
    flex-direction: row;
    width: 1100px;
    background-color: white;
    box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.75);
    height: 600px;
    position: absolute;
    top: 3330px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
/* ////////////////////////////////////////////////////////////// */

/* Color palettes ///////////////////////////////*/
#fcolors {
    width: 282px;
    height: 25px;
    position: absolute;
    right: 40px;
    bottom: 30px;
}

#focolors {
    width: 111px;
    height: 25px;
    position: absolute;
    right: 40px;
    bottom: 30px;
}

#hcolors {
    width: 168px;
    height: 25px;
    position: absolute;
    right: 40px;
    bottom: 30px;
}

#lcolors {
    width: 112px;
    height: 25px;
    position: absolute;
    right: 40px;
    bottom: 30px;
}