body {
    font-family: 'Russo One', sans-serif;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
    text-align: center;
    position: relative;
    background-color: #ebf6ff;
    background-image: url("images/Game-of-Frog.jpg");
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

button { 
    padding: 10px;
}

div {
    padding: 20px;
}

/* #gamecontrol {

} */

#top {
    display: flex;
    flex-direction: row;
}

#actions{
    padding-left: 700px;
}
#score {
    font-size: 45px;
}

#p1 {
    position: absolute;
    left: 50px;
    bottom: 0;
} 

#p2 {
    position: absolute;
    right: 50px;
    bottom: 0;
}

/* #game {
    
}
 */


button{
    border: solid 2px rgb(26, 48, 26);
    border-radius: 5px;
}

.open {
    display: showing;
}

.hidden {
    display: none;
}

#overlay{
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    height: 400px;
    width: 50%;
    padding: 40px;
    padding-bottom: 0;
    position: fixed;
    top: 200px;
    right: 300px;
}

.overlay button{
    padding: 0;
    margin: 0;
}
