body {
    background-color: black;
    font-family: 'Krona One', sans-serif;
    color: white;
}

header{
    position: fixed;
    right: 30px;
}
#shirts {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

#shirts img:hover{
    filter: drop-shadow( 0px 5px 30px rgb(165,251,235));
}

.showingColor{
    filter: drop-shadow( 0px 5px 30px rgb(165,251,235));
}

.hidden {
    display: none;                  /* when marked as hidden, div is not displayed on screen */
}

.showing {
    display: block;                 /* when marked as showing, display block will put element on the screen */
}

footer {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
}

footer a{
    padding: 30px;
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: rgb(165,251,235);
}