body{
    font-family: 'Krona One', sans-serif;
}

article {
    display: flex;
    flex-direction: row;
}


.hidden {
    display: none;                  /* when marked as hidden, div is not displayed on screen */
}

.showing {
    display: block;                 /* when marked as showing, display block will put element on the screen */
}

footer {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
}

footer a{
    padding: 30px;
    text-decoration: none;
    color: rgb(17, 0, 56);
}

footer a:hover{
    color: rgb(101, 113, 221);
}
